<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
     
    </head>
    <body>
    <center> <form action="/rl/login"method="post"class="layui-from">
            <input name="username"placeholder="用户名"type="text"lay-verify="required"class="layui-input">
            <hr class ="hr15">
            <input name="password"lay-verify="required"placeholder="密码" type ="password"class="layui-input">
            <hr class="hr15">
            <input class ="loginin"value ="登录"style ="width:100%"; type="submit">
            <hr class ="hr20">
        </form>
    </center> 
    </body>
</html>
