<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>

    </head>
    <body>
     <center>      <form action="/rl/register" method="post" class="layui-from">
                <input name="username"placeholder="用户名"type="text"lay-verify="required"class="layui-input">
                <hr class ="hr15">
                <input name="password"lay-verify="required"placeholder="密码" type ="password"class="layui-input">
                <hr class="hr15">
    
                <input name="repassword"lay-verify="required"placeholder="再次输入密码" type ="password"class="layui-input">
                <hr class="hr15">
    
                <input class ="loginin" value ="注册" style ="width:100%" type="submit">
                <hr class ="hr20"> 
               </form>    
            </div>
        </center>
        
    </body>
</html>